[submodule "Hardware/PUTM_Kicad_Library"]
	path = Hardware/PUTM_Kicad_Library
	url = https://github.com/PUT-Motorsport/PUTM_Kicad_Library.git 
[submodule "Firmware/Core/Inc/ISM330DHCX"]
	path = Firmware/Core/Inc/ISM330DHCX
	url = git@github.com:STMicroelectronics/ism330dhcx-pid.git
[submodule "Firmware/Core/Inc/-f"]
	path = Firmware/Core/Inc/-f
	url = git@github.com:PUT-Motorsport/PUTM_EV_CAN_LIBRARY_2024.git
[submodule "Firmware/Core/Inc/LowPassFilter"]
	path = Firmware/Core/Inc/LowPassFilter
	url = https://github.com/jimmyberg/LowPassFilter.git
[submodule "Firmware/Middlewares/putm_sim_gen"]
	path = Firmware/Middlewares/putm_sim_gen
	url = git@github.com:PUT-Motorsport/putm_sim_gen.git
[submodule "Firmware/Core/Inc/PUTM_EV_CAN_LIBRARY_2024"]
	path = Firmware/Core/Inc/PUTM_EV_CAN_LIBRARY_2024
	url = git@github.com:PUT-Motorsport/PUTM_EV_CAN_LIBRARY_2024.git
