# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*.zip
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.lck
*.log
*.pretty
/*backups/
fp-info-cache
*.kicad_prl

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
/.metadata/
# Cube ide ignore
.metadata/
RemoteSystemsTempFiles/
.settings/
Debug/
*.launch

# STM32 git ignore
*.mxproject

# Ignore can libraru
Firmware/Core/Inc/PUTM_EV_CAN_LIBRARY_2024/
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
Hardware/PUTM_EV_Frontbox_2023/~PUTM_EV_Frontbox_2023.kicad_pcb.lck
